$main-font: "Oxygen", sans-serif;
$color-1: #261c2c;
$color-2: #3e2c41;
$color-3: #5c527f;
$color-4: #6e85b2;

body {
  background-color: $color-1;
  margin: 0 auto;
}

header {
  background-color: $color-4;
  font-family: $main-font;
  margin: auto -16px;
  padding: 16px 32px;
}

.card {
  font-family: $main-font;
  background-color: $color-2;
  border-radius: 25px;
  position: relative;
  width: 75%;
  padding: 25px 15px;
  margin: 50px 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 34% 33%;
}

.card img {
  border-radius: 25px;
}

.cover-img {
  grid-column: 2;
}
